{{load this 'presets/tournamentVideo'}}
{{#> masterpage }}
{{>sidebar/sidebar}}
    <main class="right-block">
        {{>banner/banner}}
        {{>headTitle/headTitle}}      
        {{>videoBlurb/videoBlurb}} 
        {{>sliderBlockTournament/sliderBlockTournament}}
        {{>widget/widget}}
        {{>feedback/feedback}}
    </main>
{{/ masterpage }}