{{load this 'presets/allGames'}}
{{#> masterpage }}
{{>sidebar/sidebar}}
    <main class="right-block">
        {{>mainTitle/mainTitle mainTitle}}
        {{>filter/filter}}
        {{>allGamesWrap/allGamesWrap}}
        {{>feedback/feedback}} 
        {{>fortuneFavours/fortuneFavours}}  
    </main>
{{/ masterpage }}