<a href="{{bulletinLink}}" class="bulletin">
    <div class="bulletin__profile">
        {{>media/media bulletin.image}}
    </div>    
        {{>listing/listing bulletin.listingData}}
        <span class="arrow-link"><i class="la la-angle-right"></i></span>
</a>