{{load this 'presets/allBulletins'}}
{{#> masterpage }}
{{>sidebar/sidebar}}
    <main class="right-block">
        {{>mainTitle/mainTitle mainTitle}}
        {{>allBulletinsWrap/allBulletinsWrap}}
        {{>feedback/feedback}}
    </main>
{{/ masterpage }}