{{load this 'presets/homepage'}}
{{#> masterpage }}
{{>sidebar/sidebar}}
    <main class="right-block">
        {{>blockTitle/blockTitle}}
        {{>homeContent/homeContent}}        
        {{>teaserAltWrap/teaserAltWrap}}
        {{>feedback/feedback}}
    </main>
{{/ masterpage }}