{{load this 'presets/allNotification'}}
{{#> masterpage }}
{{>sidebar/sidebar}}
    <main class="right-block">
        {{>mainTitle/mainTitle mainTitle}}
        {{>notificationWrap/notificationWrap}}
        {{>feedback/feedback}}
    </main>
{{/ masterpage }}