{{load this 'presets/myPromotions'}}
{{#> masterpage }}
{{>sidebar/sidebar}}
    <main class="right-block">
        {{>mainTitle/mainTitle mainTitle}}
        {{>searchMyPromotions/searchMyPromotions}}
        {{>promotionWrap/promotionWrap}}
        {{>feedback/feedback}}
    </main>
{{/ masterpage }}