    <div class="media">
    <img src="{{image src}}" alt="{{alt}}">
    {{#if mediaVideo}}
    <span data-video="{{linkVideo}}" class="play__media">
        <i class="lar la-play-circle"></i>
    </span>
    {{/if}}
    </div>