{{load this 'presets/allEvents'}}
{{#> masterpage }}
{{>sidebar/sidebar}}
    <main class="right-block">
        {{>mainTitle/mainTitle mainTitle}}
        {{>allEventsWrap/allEventsWrap}}
        {{>feedback/feedback}}
    </main>
{{/ masterpage }}