{{load this 'presets/analyticsLatest'}}
{{#> masterpage }}
{{>sidebar/sidebar}}
    <main class="right-block">    
        {{>mainTitle/mainTitle mainTitle}} 
        {{>reportLatest/reportLatest}}
        {{>feedback/feedback}}
    </main>
{{/ masterpage }}