<div class="slider-wrap slider-wrap--products">          
    {{#subTeaser}}
        {{>subTitle/subTitle subtitle}}
        <div class="teaser-wrap">   
            {{#teaser}}
            {{>teaser/teaser}}
            {{/teaser}}
        </div>
    {{/subTeaser}}
</div>