{{load this 'presets/analytics'}}
{{#> masterpage }}
{{>sidebar/sidebar}}
    <main class="right-block">    
        {{>mainTitle/mainTitle mainTitle}} 
        {{>report/report}}
        {{>feedback/feedback}}
    </main>
{{/ masterpage }}