<div class="auto-suggest">
    <i class="{{icon}}"></i>
    {{>button/button buttons}}
    <input id="autoComplete" class="form__control" placeholder="{{placeholder}}" tabindex="1" type="{{type}}">
</div>