{{load this 'presets/promotion'}}
{{#> masterpage }}
{{>sidebar/sidebar}}
    <main class="right-block">
        {{>banner/banner}}
        {{>headTitle/headTitle}}
        {{>blurb/blurb}}
        {{>sliderBlock/sliderBlock}}
        {{>feedback/feedback}}
    </main>
{{/ masterpage }}