<div class="form__check from__check--radio">
    <label class="form__check-custom">
        <input type="radio" name="{{checkbox.radioName}}">
        {{link.text}}
        <em class="form__checkmark"><span>{{checkbox.para}} {{>formLinks/formLinks checkbox.link}}</span></em>
    </label>
</div>