{{load this 'presets/videoGallery'}}
{{#> masterpage }}
{{>sidebar/sidebar}}
    <main class="right-block">    
        {{>mainTitle/mainTitle mainTitle}}
        {{>sliderBarGallery/sliderBarGallery}}
        {{>widget/widget}}
        {{>feedback/feedback}}
    </main>
{{/ masterpage }}