<div class="notification">
    <div class="notification__icon">
        <i class="{{icon}}"></i>
    </div>
    {{>listing/listing listingData}}
    <a href="{{link}}" class="arrow-link"><i class="la la-angle-right"></i></a>
</div>