<div class="sliders-block">
    {{>subtitle/subtitle subtitle}}
    <div class="template-slider">
        {{#templateData}}
        {{>template/template}}
        {{/templateData}}
    </div>
    {{>subtitle/subtitle subtitleInfo}}
    <div class="teaser-slider">
        {{#teaser}}
        {{>teaser/teaser}}
        {{/teaser}}
    </div>
</div>