{{load this 'presets/permission'}}
{{#> masterpage }}
{{>sidebar/sidebar}}
    <main class="right-block">    
        {{>mainTitle/mainTitle mainTitle}}
        {{>permissionWrap/permissionWrap}}
        {{>feedback/feedback}}
    </main>
{{/ masterpage }}