<div class="widget">
    <a href="#" class="back back--widget"><i class="las la-times"></i></a>
    <iframe id="myIframe" width="560" height="315" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div> 