<div class="slider-wrap slider-wrap__secondary">          
    {{#subTeaser}}
    {{>subTitle/subTitle subtitle}}
    <div class="teaser-wrap">   
        {{#teaser}}
        {{>teaser/teaser}}
        {{/teaser}}
    </div>
    {{/subTeaser}}
</div>