.menu{
    border: 1px solid $colour-grey-dark;
    padding: 0 $spacing-internal;
    background-color: $colour-white;
    margin-bottom: $spacing-internal;
    .link-list{
        &:hover{
            opacity: 0.75;
        }
    }
}
@media all and (min-width:$screen-sm){
    .menu{
        width: 359px;
        margin-bottom: 0;
        padding: 0 $spacing-large;
    }
}