{{load this 'presets/products'}}
{{#> masterpage }}
{{>sidebar/sidebar}}
    <main class="right-block">    
        {{>mainTitle/mainTitle mainTitle}}
        {{>sliderBarUpdates/sliderBarUpdates}}
        {{>sliderWrapProducts/sliderWrapProducts}}
        {{>widget/widget}}
        {{>feedback/feedback}}
    </main>
{{/ masterpage }}