<div class="dropzone">
    <div class="dropzone__container" id="dropContainer" >
        <i class="{{icon}}"></i>
    </div>
    <p>{{para}}</p>
    <div class="dropzone__input">
        <input type="file" id="fileInput" />
        <span>{{upload}}</span>
    </div>
</div>