<div class="form__check">
    <label class="form__check-custom">
        <input type="checkbox">
        {{link.text}}
        <em class="form__checkmark"><span>{{checkbox.para}} {{>formLinks/formLinks checkbox.link}}</span></em>
    </label>
</div>