<div class="template">
    <div class="template__content">
        <{{tagSix}} class="heading-six">{{templateTitle}}</{{tagSix}}>
        <p>{{templateText}}</p>
        {{>button/button}}
    </div>
</div>