<a href="{{href}}" class="link-list">
    <span>{{text}}</span>
    <div class="link-list__status">
    {{#if status}}
    {{>status/status status}}
    {{/if}}    
    <i class="{{icon}}"></i>
    </div>
</a>