<div class="all-events">          
      {{#allEvents}}      
         {{>subtitle/subtitle subtitle}}  
         {{#profile}}
            {{>event/event }}
         {{/profile}}
      {{/allEvents}}
</div>