<div class="calendar-wrap">
    <div class="title">
        <{{tagFour}} class="heading-four">{{>title/title headCalendar}}</{{tagFour}}>
        {{>formLinks/formLinks headCalendar}}
    </div> 
    <div id="caleandar" data-events="{{stringify events}}" class="calendar"></div>
    <div id="cleander-popup" class="calendar-wrap__popup">
        <span class="text-link text-link__back"><i class="las la-angle-left"></i>Back</span>
        {{#listingData}}
            {{>listing/listing}}
        {{/listingData}}
    </div>
</div>  