<div class="all-games slider-wrap--game">
    {{>subtitle/subtitle subtitle}}
    <div class="all-games__cards">
        {{#teaser}}
            {{>teaser/teaser}}
        {{/teaser}}
    </div>
</div> 