{{load this 'presets/gamesMarketting'}}
{{#> masterpage }}
{{>sidebar/sidebar}}
    <main class="right-block">
        {{>mainTitle/mainTitle mainTitle}}
        {{>search/search}}
        {{>sliderBarGames/sliderBarGames}}
        {{>feedback/feedback}}
        {{>fortuneFavours/fortuneFavours}}  
    </main>
{{/ masterpage }}