{{load this 'presets/fileTransfer'}}
{{#> masterpage }}
{{>sidebar/sidebar}}
    <main class="right-block">    
        {{>mainTitle/mainTitle mainTitle}} 
        {{>fileWrap/fileWrap}}
        {{>feedback/feedback}}
    </main>
{{/ masterpage }}